<div class="section text-justify" ngsReveal>
    <div class="row mb-5">
        <p class="title">My Portfolio</p>            
    </div>
    <div class="row partial-height">        
        <div class="col-2 preview-container">
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
            <div class="row">
                <img class="preview" src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" />
            </div>
        </div>
        <div class="col-11">
            <app-card></app-card>
        </div>        
    </div>
</div>