@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-indigo);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Zen Antique Soft", serif; background: #1d1d1d; color: #fff; }


.full-width-div {
  position: absolute;
  width: 100%;
  left: 0;
}

.title {
  font-family: 'Zen Antique Soft', serif;
  font-size: 400%;
  font-weight: bold;
  color: #fff;
}

.paragraph {
  font-family:  'Roboto Mono', monospace;
  color: #b1b1b1;
  font-size: 150%;
  font-weight: 100;
  background-color: #1d1d1d;
}

.paragraph-white {
  font-family:  'Roboto Mono', monospace;
  color: #cfcfcf;
  font-size: 120%;
  font-weight: thin;
  background-color: #1d1d1d;
}

a:hover {
  text-decoration: none;
}


.details {
  font-family: 'Handlee', cursive;
  color: #b1b1b1;
  font-weight: 100;
  font-size: 80%;
}

.color-secondary {
  color: #ffea00;
}

div {
  text-align: center;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#container-p {
  width: 100%;
  height: 100%;
  position: relative;
}
#particles-js,
#over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#over {
  z-index: 10;
}

.section {
  height: 100%;
  padding:5%;
}

.max-height {
  height: 100%;
}

.partial-height {
  height: 70%;
}

.social-icon{
  height: 60px;
}

.separate{
  margin-top: 25%;
}

.tool-icon{
  width: 70px;
  height: 70px;
  max-width: 100%
}

.fixed-row-bottom { 
  position:fixed;
  bottom:0;
  width:100%;
}
