@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();


@mixin mzd-app-theme($theme) {
  $mzd-app-primary: #1d1d1d;
  $mzd-app-accent: #ffea00;
  $mzd-app-warn: #e6e6e6;
}

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-theme: mat.define-light-theme($my-app-primary, $my-app-accent);

@include mat.all-component-themes($my-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Zen Antique Soft", serif; background: #1d1d1d; color: #fff; }


.full-width-div {
  position: absolute;
  width: 100%;
  left: 0;
}

.title {
  font-family: 'Zen Antique Soft', serif;
  font-size: 400%;
  font-weight: bold;
  color: #fff;
}

.paragraph {
  font-family:  'Roboto Mono', monospace;
  color: #b1b1b1;
  font-size: 150%;
  font-weight: 100;
  background-color: #1d1d1d;
}

.paragraph-white {
  font-family:  'Roboto Mono', monospace;
  color: #cfcfcf;
  font-size: 120%;
  font-weight: thin;
  background-color: #1d1d1d;
}

a:hover {
  p{
    color: #ffea00;
    font-size: 101%;
  }
  cursor: pointer;
  text-decoration: none;
}


.details {
  font-family: 'Handlee', cursive;
  color: #e6e6e6;
  font-weight: 100;
  font-size: 100%;
  background-color: #1d1d1d;
}

.color-secondary {
  color: #ffea00;
}

div {
  text-align: center;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#container-p {
  width: 100%;
  height: 400%;
  position: relative;
}
#particles-js,
#over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;  
  overflow-y: hidden;
}
#over {
  z-index: 10;
}

.section {
  height: 25%;
  padding:5%;
}

.max-height {
  height: 100%;
}

.partial-height {
  height: 70%;
}

.social-icon{
  height: 60px;
}

.separate{
  margin-top: 25%;
}

.tool-icon{
  width: 70px;
  height: 70px;
  max-width: 100%
}

.fixed-row-bottom { 
  position:fixed;
  bottom:0;
  width:100%;
}
