<div class="section text-justify" ngsReveal>
    <div class="row max-height">
        <div class="col max-height">
            <div class="row partial-height">
                <div class="col-5 text-justify">
                    <p *ngIf="showAnimationsOrder[0]" class="title color-secondary">
                        <teximate [text]="'Hi,'" [enter]="enterFlipAnimation" (finish)="finish()" (play)="play()"></teximate>
                    </p>
                    <br/>
                    <p *ngIf="showAnimationsOrder[1]" class="title">
                        <teximate [text]="'Nice to meet you,'" (finish)="finish()" [enter]="enterFlipSecondAnimation"></teximate>
                    </p>
                    <br/>
                    <p *ngIf="showAnimationsOrder[2]" class="title">
                        <teximate text="I'm Jonathan" (finish)="finish()" [enter]="enterBounceThirdAnimation"></teximate>
                    </p>
                    <p *ngIf="showAnimationsOrder[3]" class="paragraph mt-5">
                        <teximate [text]="'Backend and Frontend developer, Passionate about design'"  (play)="showSocialIcons()" [enter]="enterFlipThirdAnimation_1"></teximate>
                    </p>
                </div>
            </div>
            <div *ngIf="showSocial" class="row justify-content-end" [ngsRevealSet]="{reset:true}" [ngsInterval]="50" [ngsSelector]="'.item-l'">
                <ng-lottie class="item-l" width="240px" height="150px" [options]="spaceSuitOptions"></ng-lottie>
            </div>
            <div *ngIf="showSocial" class="row justify-content-end" [ngsRevealSet]="{reset:true}" [ngsInterval]="100" [ngsSelector]="'.item'">
                <a  [@rubberBand]="getAnimationStateByName('facebook')" (mouseenter)="startNameAnimation('facebook')" href="https://www.facebook.com/jonathandavid.iliasdelrio/" target="_blank">
                    <img class="item social-icon" src="../../../assets/img/facebook_media_social_icon.svg">
                </a>   
                <a  [@rubberBand]="getAnimationStateByName('github')" (mouseenter)="startNameAnimation('github')" href="https://github.com/jonathanDavid" target="_blank">
                    <img class="item social-icon" src="../../../assets/img/github_media_social_icon.svg">
                </a>
                <a  [@rubberBand]="getAnimationStateByName('linkedIn')" (mouseenter)="startNameAnimation('linkedIn')" href="https://www.linkedin.com/in/jonathan-ilias/" target="_blank">
                    <img class="item social-icon" src="../../../assets/img/in_linked_media_social_icon.svg">
                </a>  
                <a  [@rubberBand]="getAnimationStateByName('tweeter')" (mouseenter)="startNameAnimation('tweeter')" href="https://twitter.com/JonathanID3" target="_blank">
                    <img class="item social-icon" src="../../../assets/img/twitter_media_social_icon.svg">
                </a>              
            </div>
        </div>
    </div>
    <div style="z-index:5; position : fixed;display : flex; 
    align-self : flex-end; top : 5%; right: 5%; margin-bottom : 0px;">
        <a (click)="moveToTimeline()">
            <p class="details">Know more &#8669;</p>
        </a> 
    </div>          
</div>
